<footer class="site-footer">
    <div class="footer-container">
        
        <div class="footer-top">
            
            <div class="footer-brand">
                <h2 class="footer-slogan">ARTE DESDE OTRO<br>ÁNGULO</h2>
                
                <div class="footer-logo">
                    <img src="assets/icons/logo_blanco.svg" alt="Galería Vértice" class="logo-white-filter">
                </div>
            </div>

            <div class="footer-nav">
                
                <div class="footer-col">
                    <h4>EXPLORA</h4>
                    <ul>
                        <li><a href="#">ARTISTAS DESTACADOS</a></li>
                        <li><a href="#">OBRAS TRENDING</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>SOBRE NOSOTROS</h4>
                    <ul>
                        <li><a href="#">QUIENES SOMOS</a></li>
                        <li><a href="#">PARTNERS</a></li>
                        <li><a href="#">MANIFIESTO</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>COMUNIDAD</h4>
                    <ul>
                        <li><a href="#">DROPS</a></li>
                        <li><a href="#">NOTICIAS</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>CONTACTO</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">SOPORTE</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            
            <div class="footer-legal">
                <a href="#">TÉRMINOS DE USO</a>
                <a href="#">POLÍTICA DE PRIVACIDAD</a>
                <a href="#">POLÍTICA DE COOKIES</a>
            </div>

            <div class="footer-social">
                <a href="#" aria-label="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" aria-label="Pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
                <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

    </div>
</footer>