<header class="navbar">
    
    <nav class="nav-left">
        <a href="pages/catalogo/artistas.html" class="nav-link auth-trigger">ARTISTAS</a>
        <a href="pages/catalogo/obras.html" class="nav-link auth-trigger">OBRAS</a>
        <a href="pages/catalogo/categorias.html" class="nav-link auth-trigger">CATEGORÍAS</a>
    </nav>

    <div class="nav-brand">
        <a href="index.html" class="brand-link">
            <img src="../../assets/icons/logo_letras.svg" alt="VÉRTICE" class="brand-logo-img" id="dynamic-logo">
        </a>
    </div>

    <div class="nav-right">
        <div class="nav-auth">
            <a href="../../pages/auth/login.html" class="nav-login-link">INICIAR SESIÓN</a>
            
            <a href="../../pages/auth/login.html?mode=register" class="btn-navbar-register">REGISTRARSE</a>
        </div>
    </div>

</header>