<header class="navbar">
    
    <nav class="nav-left">
        <a href="pages/artist/dashboard.html" class="nav-link">PANEL</a>
        <a href="pages/artist/mis-obras.html" class="nav-link">MIS OBRAS</a>
        
        <a href="pages/artist/subir-obra.html" class="nav-link" style="color: var(--color-rojo); font-weight: 600;">
            <i class="fa-solid fa-plus"></i> SUBIR OBRA
        </a>
    </nav>

    <div class="nav-brand">
        <a href="index.html" class="brand-link">
            <img src="assets/icons/logo_letras.svg" alt="VÉRTICE" class="brand-logo-img" id="dynamic-logo">
        </a>
    </div>

    <div class="nav-right">
        <div class="nav-auth">
            <a href="pages/user/perfil.html" class="nav-link" style="gap: 8px;">
                <i class="fa-solid fa-palette"></i> 
                <span>SOY ARTISTA</span>
            </a>
            <span class="auth-separator"></span>
            <a href="#" class="nav-link" id="logoutBtn">SALIR</a>
        </div>
    </div>

</header>